* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 95%;
  min-height: 500px;
  margin: 50px auto;
  border: 10px solid rgb(234, 0, 255);
  border-radius: 10px;
  padding: 10px;
  background-color: bisque;
  box-shadow: none;
}

.todo {
  padding: 5px;
  background-color: cyan;
  margin-top: 10px;
  border: solid 5px black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.header h3 {
  padding: 5px;
  font-size: 0.75;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-sm {
  background-color: red;
  border: 5px;
  padding: 5px 7px;
  font-size: 14px;
  color: #fff;
}

